:root {
  --primary-color: #000;
  --hover-color: #00acdc;
  --header-background-color: #fff;
}

html {
  margin: 0;
  font-family: Roboto, sans-serif;
  box-sizing: border-box;
  font-size: 13px;
  font-weight: 500;
}

body {
  margin: 0;
  padding: 0;
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  max-width: 100%;
  padding: 10px 50px;
  background-color: var(--header-background-color);
}

.nav__list {
  margin: 0;
}

.nav__item {
  display: flex;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}

.nav__list-link {
  color: #000;
  font-size: 13px;
  font-weight: 500;
  margin-right: 20px;
  text-transform: uppercase;
  text-decoration: none;
}

.nav__list-link:hover {
  color: var(--hover-color);
}

.is-active {
  padding-bottom: 18.5px;
  position: relative;
}

.is-active::after {
  content: '';
  position: absolute;
  display: block;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: var(--hover-color);
  border-radius: 8px;
}

@media (width: 1024px) {
  .container {
    width: 1024px;
    margin: 0 auto;
  }
}
